/* Modal */ 
.modal {
    position: relative;
    display: none;
}

.modal.show-signin{
    display: flex;
}

.modal__overlay {
    position: fixed;
    inset: 0px;
    background: rgba(0, 0, 0, 0.53);
    z-index: 1000;
}

.modal__overlay-mobile {
    position: fixed;
    inset: 0px;
    background: rgba(0, 0, 0, 0.53);
    z-index: 1;
    display: none;
}

.modal__body {
    position: relative;
    border: none;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    outline: none;
    padding: 0px;
    width: 300px;
    margin: 80px auto;
    animation: overlayFadeIn ease .7s;
}

.modal__form {
    background: rgb(248, 248, 248);
    display: flex;
    width: 100%;
    border-radius: 20px;
    position: relative;
}

.auth-form {
    width: 300px;
    background-color: var(--white-color);
    border-radius: 3px;
    padding: 0 24px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
    cursor: text;
}

.auth-form__close-register,
.auth-form__close-login {
    font-size: 2rem;
    color: var(--text-color);
    background: none;
    border: none;
    cursor: pointer;
}

.auth-form__close:hover {
    opacity: 0.8;
}

.auth-form__form {

}

.auth-form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.auth-form__input {
    /* width: 100%; */
    height: 30px;
    padding: 0 14px;
    font-size: 1.5rem;
    font-weight: 200;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:hover {
    border-color:#777;
}

.auth-form__group.invalid .auth-form__input {
    border-color: #f33a58;
}

.auth-form__group.invalid .form-message {
    color: #f33a58;
}

.form-message {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
}

.auth-form__controls {
    margin-top: 5px;
    width: 100%;
    height: 30px;
}

.auth-form__controls a {
    text-decoration: none;
}

.auth-form__help {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__help-link {
    text-decoration: none;
    color: #05a;
    font-size: 1.2rem;
}


.auth-form__aside {
    margin-top: 20px;
}

.auth-form__policy-text {
    font-size: 1.8rem;
    line-height: 2rem;
    text-align: center;
    cursor: text;
}

.auth-form__policy-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__title {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__title-hr {
    width: 100px;
    border: 0.1px solid #ccc;
}

.auth-form__title-text {
    font-size: 1.5rem;
    font-weight: 400;
    color: #ccc;
    margin: 0 12px;
}

.auth-form__socials {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.auth-form__socials-full {
    padding-top: 6px;
}

.auth-form__socials-link {
    width: 123px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 2px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-form__socials-link-full {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 2px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-form__socials-link-full:hover {
    background-color: #fafafa;
}

.auth-form__socials-link:hover {
    background-color: #fafafa;
}

.auth-form__socials-img {
    width: 22px;
    height: 22px;
    object-fit: contain;
}

.auth-form__socials-title {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--black-color);
    padding-left: 6px;
}

.auth-form__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 200;
    padding: 25px 0 25px;
}

.auth-form__footer-text {
    color: #777;
    cursor: text;
}

.btn__register,
.btn__login {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

@keyframes overlayFadeIn {
from{
    opacity: 0;
    transform: translateY(-100px);
}
to{
    opacity: 1;
    transform: translateY(0);
}
}



